<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
	{{ template "_internal/google_analytics.html" . }}
	<title>{{ .Site.Title }}</title>
</head>
<body>
	<ul class="social-icons">
		{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>{{ end }}
	</ul>
	{{ block "main" . }}
	{{ end }}
	<h1><a class="title" href="http://hyperurl.co/kubernetes-patterns">{{ .Site.Title }}</a></h1>
	<p>{{ .Site.Params.tagline }}</p>
		<p class="shadowed">
	     <a href="http://hyperurl.co/kubernetes-patterns"><img style="width: 350px" src="images/cover.png"></a>
	  </p>

	  <p>
			<a href="http://shop.oreilly.com/product/0636920242598.do">O'Reilly</a> ●
		 	<a href="http://hyperurl.co/kubernetes-patterns">Amazon</a> ●
		        <a href="https://learning.oreilly.com/library/view/kubernetes-patterns-2nd/9781098131678/">Preview 2nd Edition</a> ●
      <a href="https://github.com/k8spatterns/examples">Examples</a> <br>
			<a href="https://www.redhat.com/en/engage/kubernetes-containers-architecture-s-201910240918">PDF download</a>, kindly sponsored by <img style="display: inline; height: 29px; width: 123px" src="images/red-hat.png">
		</p>

		<p>
		</p>

  	<p>A book by <a href="https://fosstodon.org/@bilgin" rel="me">Bilgin Ibryam</a> and <a rel="me" href="https://hachyderm.io/@ro14nd">Roland Huß</a>
		</p>


</body>
</html>
