<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
	{{ template "_internal/google_analytics.html" . }}
	<title>{{ .Site.Title }}</title>
</head>
<body>
	<ul class="social-icons">
		{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>{{ end }}
	</ul>
	{{ block "main" . }}
	{{ end }}
	<h1>{{ .Site.Title }}</h1>
	<p>{{ .Site.Params.tagline }}</p>
			<p>A book by <a href="https://github.com/bibryam">Bilgin Ibryam</a> and <a href="https://github.com/rhuss">Roland Huß</a>
    </p>

		<p><em>You can't buy the book yet, but we have news very soon. Please stay tuned ....</em> </p>
</body>
</html>
